.appartments {
    &__title {
        margin-bottom: 88px;

        @include mediaTablet {
            margin-bottom: 44px;
        }
    }

    &__cards {
        padding: 60px;
    }
}

.appatments__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    position: relative;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        align-items: center;
    }

    &::before {
        content: "";
        position: absolute;
        top: -50px;
        left: -220px;
        width: 452px;
        height: 502px;
        background: url("../../assets/icons/main/III.svg") no-repeat;
    }
}